.top {

}
.header {
  display: flex;
  flex: auto;
  justify-content: left;
  align-items: start;
  margin: 0;
}
.logo {
  flex: 0 0 25px;
  height: 25px;
  margin: 0;
}
.hlinks {
  flex: auto;
  margin-left: auto;
  margin-right: 0;
}