body {
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
.top {
  display: flex;
}
.header {
  display: flex;
  flex: auto;
  justify-content: center;
}
.logo {
  margin-right: auto;
}
.man {
  flex: 0 0 25px;
  height: 25px;
  margin: 0;
}
.hlinks {

}
.tlink {
  white-space: nowrap;
  text-decoration: none;
}